.the-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.icon {
  height: 25px;
  width: 25px;
}
.ham-icon {
  height: 15px;
  width: 15px;
}
.route-icon {
  height: 25px;
  width: 25px;
  margin: 5px;
}
Link {
  text-decoration: none;
}
button {
  background-color: transparent;
  border: 0px solid transparent;
}
p {
  margin: 5px;
  font-size: 15px;
}
.popup-content {
  display: flex;
  flex-direction: column;
}
.closeBut {
  align-self: flex-end;
}
li {
  display: flex;
  text-decoration: none;
}
